USE [master]
GO
/****** Object:  Database [MagazynDB]    Script Date: 29.05.2026 23:53:29 ******/
CREATE DATABASE [MagazynDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MagazynDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MagazynDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MagazynDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MagazynDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MagazynDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MagazynDB]
GO
/****** Object:  Table [dbo].[HistoriaHasel]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaHasel](
	[HistoriaID] [int] IDENTITY(1,1) NOT NULL,
	[UzytkownikID] [int] NOT NULL,
	[HasloHash] [nvarchar](255) NOT NULL,
	[DataZmiany] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PozycjeSprzedazy]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PozycjeSprzedazy](
	[PozycjaID] [int] IDENTITY(1,1) NOT NULL,
	[SprzedazID] [int] NOT NULL,
	[TowarID] [int] NOT NULL,
	[Ilosc] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PozycjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejestracjaDostaw]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejestracjaDostaw](
	[RejestracjaID] [int] IDENTITY(1,1) NOT NULL,
	[TowarID] [int] NOT NULL,
	[Ilosc] [decimal](18, 2) NOT NULL,
	[CenaNetto] [decimal](18, 2) NOT NULL,
	[ZastosowanyVAT] [decimal](5, 2) NOT NULL,
	[Dostawca] [nvarchar](255) NOT NULL,
	[DataDostawy] [date] NOT NULL,
	[DataRejestracji] [datetime] NOT NULL,
	[RejestrujacyUzytkownikID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RejestracjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RodzajeTowarow]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RodzajeTowarow](
	[RodzajID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RodzajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sprzedaz]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprzedaz](
	[SprzedazID] [int] IDENTITY(1,1) NOT NULL,
	[NazwaKlienta] [nvarchar](255) NOT NULL,
	[AdresKlienta] [nvarchar](255) NOT NULL,
	[DataSprzedazy] [datetime] NOT NULL,
	[SprzedawcaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SprzedazID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StanyMagazynowe]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StanyMagazynowe](
	[TowarID] [int] NOT NULL,
	[IloscDostepna] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TowarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StawkiVAT]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StawkiVAT](
	[StawkaID] [int] IDENTITY(1,1) NOT NULL,
	[TowarID] [int] NOT NULL,
	[WartoscVAT] [decimal](5, 2) NOT NULL,
	[ObowiazujeOd] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StawkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Towary]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towary](
	[TowarID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](255) NOT NULL,
	[RodzajID] [int] NOT NULL,
	[JednostkaMiary] [nvarchar](20) NOT NULL,
	[Opis] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TowarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uprawnienia]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uprawnienia](
	[UprawnienieID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UprawnienieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownicy]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownicy](
	[UzytkownikID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[HasloHash] [nvarchar](255) NOT NULL,
	[Imie] [nvarchar](50) NOT NULL,
	[Nazwisko] [nvarchar](50) NOT NULL,
	[Miejscowosc] [nvarchar](100) NOT NULL,
	[KodPocztowy] [nvarchar](6) NOT NULL,
	[Ulica] [nvarchar](100) NULL,
	[NumerPosesji] [nvarchar](10) NOT NULL,
	[NumerLokalu] [nvarchar](10) NULL,
	[PESEL] [char](11) NOT NULL,
	[DataUrodzenia] [date] NOT NULL,
	[Plec] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Telefon] [char](9) NOT NULL,
	[LiczbaBlednychLogowan] [int] NULL,
	[KontoZablokowaneDo] [datetime] NULL,
	[CzyZapomniany] [bit] NULL,
	[DataZapomnienia] [datetime] NULL,
	[ZapomnianyPrzezID] [int] NULL,
	[UzywaOdzyskanegoHasla] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UzytkownikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownicy_Uprawnienia]    Script Date: 29.05.2026 23:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownicy_Uprawnienia](
	[UzytkownikID] [int] NOT NULL,
	[UprawnienieID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UzytkownikID] ASC,
	[UprawnienieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistoriaHasel] ON 

INSERT [dbo].[HistoriaHasel] ([HistoriaID], [UzytkownikID], [HasloHash], [DataZmiany]) VALUES (1, 1, N'starehash1!', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[HistoriaHasel] ([HistoriaID], [UzytkownikID], [HasloHash], [DataZmiany]) VALUES (2, 1, N'starehash2!', CAST(N'2024-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[HistoriaHasel] ([HistoriaID], [UzytkownikID], [HasloHash], [DataZmiany]) VALUES (3, 12, N'$MYHASH$V1$10000$Nh0K0bV5gsrNn3YchTeOEOtUsmb+qm2IffxZZnL/OFgqe/qb', CAST(N'2026-05-29T21:23:52.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistoriaHasel] OFF
GO
SET IDENTITY_INSERT [dbo].[PozycjeSprzedazy] ON 

INSERT [dbo].[PozycjeSprzedazy] ([PozycjaID], [SprzedazID], [TowarID], [Ilosc]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[PozycjeSprzedazy] ([PozycjaID], [SprzedazID], [TowarID], [Ilosc]) VALUES (2, 1, 8, CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[PozycjeSprzedazy] ([PozycjaID], [SprzedazID], [TowarID], [Ilosc]) VALUES (3, 2, 2, CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PozycjeSprzedazy] OFF
GO
SET IDENTITY_INSERT [dbo].[RejestracjaDostaw] ON 

INSERT [dbo].[RejestracjaDostaw] ([RejestracjaID], [TowarID], [Ilosc], [CenaNetto], [ZastosowanyVAT], [Dostawca], [DataDostawy], [DataRejestracji], [RejestrujacyUzytkownikID]) VALUES (1, 1, CAST(19.00 AS Decimal(18, 2)), CAST(2100.00 AS Decimal(18, 2)), CAST(23.00 AS Decimal(5, 2)), N'Hurtownia RTV', CAST(N'2025-01-15' AS Date), CAST(N'2025-01-15T12:00:00.000' AS DateTime), 3)
INSERT [dbo].[RejestracjaDostaw] ([RejestracjaID], [TowarID], [Ilosc], [CenaNetto], [ZastosowanyVAT], [Dostawca], [DataDostawy], [DataRejestracji], [RejestrujacyUzytkownikID]) VALUES (2, 2, CAST(35.00 AS Decimal(18, 2)), CAST(3200.00 AS Decimal(18, 2)), CAST(23.00 AS Decimal(5, 2)), N'Hurtownia IT', CAST(N'2025-01-20' AS Date), CAST(N'2025-01-20T12:00:00.000' AS DateTime), 3)
INSERT [dbo].[RejestracjaDostaw] ([RejestracjaID], [TowarID], [Ilosc], [CenaNetto], [ZastosowanyVAT], [Dostawca], [DataDostawy], [DataRejestracji], [RejestrujacyUzytkownikID]) VALUES (3, 3, CAST(11.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(23.00 AS Decimal(5, 2)), N'AGD Hurt', CAST(N'2025-02-01' AS Date), CAST(N'2025-02-01T12:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[RejestracjaDostaw] OFF
GO
SET IDENTITY_INSERT [dbo].[RodzajeTowarow] ON 

INSERT [dbo].[RodzajeTowarow] ([RodzajID], [Nazwa]) VALUES (2, N'AGD')
INSERT [dbo].[RodzajeTowarow] ([RodzajID], [Nazwa]) VALUES (1, N'Elektronika')
INSERT [dbo].[RodzajeTowarow] ([RodzajID], [Nazwa]) VALUES (5, N'Materialy budowlane')
SET IDENTITY_INSERT [dbo].[RodzajeTowarow] OFF
GO
SET IDENTITY_INSERT [dbo].[Sprzedaz] ON 

INSERT [dbo].[Sprzedaz] ([SprzedazID], [NazwaKlienta], [AdresKlienta], [DataSprzedazy], [SprzedawcaID]) VALUES (1, N'Janusz Kowalski', N'ul. Polna 1, 00-001 Warszawa', CAST(N'2025-03-01T00:00:00.000' AS DateTime), 6)
INSERT [dbo].[Sprzedaz] ([SprzedazID], [NazwaKlienta], [AdresKlienta], [DataSprzedazy], [SprzedawcaID]) VALUES (2, N'Firma XYZ Sp. z o.o.', N'ul. Lesna 5, 30-002 Krakow', CAST(N'2025-03-10T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[Sprzedaz] ([SprzedazID], [NazwaKlienta], [AdresKlienta], [DataSprzedazy], [SprzedawcaID]) VALUES (3, N'Anna Nowak', N'ul. Krotka 2, 80-003 Gdansk', CAST(N'2025-03-15T00:00:00.000' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Sprzedaz] OFF
GO
INSERT [dbo].[StanyMagazynowe] ([TowarID], [IloscDostepna]) VALUES (1, CAST(18.00 AS Decimal(18, 2)))
INSERT [dbo].[StanyMagazynowe] ([TowarID], [IloscDostepna]) VALUES (2, CAST(28.00 AS Decimal(18, 2)))
INSERT [dbo].[StanyMagazynowe] ([TowarID], [IloscDostepna]) VALUES (3, CAST(12.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[StawkiVAT] ON 

INSERT [dbo].[StawkiVAT] ([StawkaID], [TowarID], [WartoscVAT], [ObowiazujeOd]) VALUES (1, 1, CAST(23.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[StawkiVAT] ([StawkaID], [TowarID], [WartoscVAT], [ObowiazujeOd]) VALUES (2, 2, CAST(23.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[StawkiVAT] ([StawkaID], [TowarID], [WartoscVAT], [ObowiazujeOd]) VALUES (3, 3, CAST(23.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[StawkiVAT] OFF
GO
SET IDENTITY_INSERT [dbo].[Towary] ON 

INSERT [dbo].[Towary] ([TowarID], [Nazwa], [RodzajID], [JednostkaMiary], [Opis]) VALUES (1, N'Telewizor 55 cali', 1, N'Sztuki', N'Smart TV 4K, czarny')
INSERT [dbo].[Towary] ([TowarID], [Nazwa], [RodzajID], [JednostkaMiary], [Opis]) VALUES (2, N'Laptop Biurowy', 1, N'Sztuki', N'16GB RAM, 512GB SSD')
INSERT [dbo].[Towary] ([TowarID], [Nazwa], [RodzajID], [JednostkaMiary], [Opis]) VALUES (3, N'Pralka Automatyczna', 2, N'Sztuki', N'Ladowana od frontu, 7kg')
SET IDENTITY_INSERT [dbo].[Towary] OFF
GO
SET IDENTITY_INSERT [dbo].[Uprawnienia] ON 

INSERT [dbo].[Uprawnienia] ([UprawnienieID], [Nazwa]) VALUES (1, N'Administrator')
INSERT [dbo].[Uprawnienia] ([UprawnienieID], [Nazwa]) VALUES (2, N'Kierownik magazynu')
INSERT [dbo].[Uprawnienia] ([UprawnienieID], [Nazwa]) VALUES (4, N'Kierownik sprzedazy')
SET IDENTITY_INSERT [dbo].[Uprawnienia] OFF
GO
SET IDENTITY_INSERT [dbo].[Uzytkownicy] ON 

SET IDENTITY_INSERT [dbo].[Uzytkownicy] OFF
GO
INSERT [dbo].[Uzytkownicy_Uprawnienia] ([UzytkownikID], [UprawnienieID]) VALUES (1, 1)
INSERT [dbo].[Uzytkownicy_Uprawnienia] ([UzytkownikID], [UprawnienieID]) VALUES (1, 2)
INSERT [dbo].[Uzytkownicy_Uprawnienia] ([UzytkownikID], [UprawnienieID]) VALUES (1, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RodzajeT__602223FF438A19AF]    Script Date: 29.05.2026 23:53:29 ******/
ALTER TABLE [dbo].[RodzajeTowarow] ADD UNIQUE NONCLUSTERED 
(
	[Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uprawnie__602223FFB6A1131D]    Script Date: 29.05.2026 23:53:29 ******/
ALTER TABLE [dbo].[Uprawnienia] ADD UNIQUE NONCLUSTERED 
(
	[Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uzytkown__4F16EE7F18580E7B]    Script Date: 29.05.2026 23:53:29 ******/
ALTER TABLE [dbo].[Uzytkownicy] ADD UNIQUE NONCLUSTERED 
(
	[PESEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uzytkown__5E55825BB5B3B568]    Script Date: 29.05.2026 23:53:29 ******/
ALTER TABLE [dbo].[Uzytkownicy] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uzytkown__A9D105344D241739]    Script Date: 29.05.2026 23:53:29 ******/
ALTER TABLE [dbo].[Uzytkownicy] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoriaHasel] ADD  DEFAULT (getdate()) FOR [DataZmiany]
GO
ALTER TABLE [dbo].[RejestracjaDostaw] ADD  DEFAULT (getdate()) FOR [DataRejestracji]
GO
ALTER TABLE [dbo].[Sprzedaz] ADD  DEFAULT (getdate()) FOR [DataSprzedazy]
GO
ALTER TABLE [dbo].[StanyMagazynowe] ADD  DEFAULT ((0)) FOR [IloscDostepna]
GO
ALTER TABLE [dbo].[Towary] ADD  DEFAULT ('Brak opisu') FOR [Opis]
GO
ALTER TABLE [dbo].[Uzytkownicy] ADD  DEFAULT ((0)) FOR [LiczbaBlednychLogowan]
GO
ALTER TABLE [dbo].[Uzytkownicy] ADD  DEFAULT ((0)) FOR [CzyZapomniany]
GO
ALTER TABLE [dbo].[Uzytkownicy] ADD  DEFAULT ((0)) FOR [UzywaOdzyskanegoHasla]
GO
ALTER TABLE [dbo].[HistoriaHasel]  WITH CHECK ADD FOREIGN KEY([UzytkownikID])
REFERENCES [dbo].[Uzytkownicy] ([UzytkownikID])
GO
ALTER TABLE [dbo].[PozycjeSprzedazy]  WITH CHECK ADD FOREIGN KEY([SprzedazID])
REFERENCES [dbo].[Sprzedaz] ([SprzedazID])
GO
ALTER TABLE [dbo].[PozycjeSprzedazy]  WITH CHECK ADD FOREIGN KEY([TowarID])
REFERENCES [dbo].[Towary] ([TowarID])
GO
ALTER TABLE [dbo].[RejestracjaDostaw]  WITH CHECK ADD FOREIGN KEY([RejestrujacyUzytkownikID])
REFERENCES [dbo].[Uzytkownicy] ([UzytkownikID])
GO
ALTER TABLE [dbo].[RejestracjaDostaw]  WITH CHECK ADD FOREIGN KEY([TowarID])
REFERENCES [dbo].[Towary] ([TowarID])
GO
ALTER TABLE [dbo].[Sprzedaz]  WITH CHECK ADD FOREIGN KEY([SprzedawcaID])
REFERENCES [dbo].[Uzytkownicy] ([UzytkownikID])
GO
ALTER TABLE [dbo].[StanyMagazynowe]  WITH CHECK ADD FOREIGN KEY([TowarID])
REFERENCES [dbo].[Towary] ([TowarID])
GO
ALTER TABLE [dbo].[StawkiVAT]  WITH CHECK ADD FOREIGN KEY([TowarID])
REFERENCES [dbo].[Towary] ([TowarID])
GO
ALTER TABLE [dbo].[Towary]  WITH CHECK ADD FOREIGN KEY([RodzajID])
REFERENCES [dbo].[RodzajeTowarow] ([RodzajID])
GO
ALTER TABLE [dbo].[Uzytkownicy_Uprawnienia]  WITH CHECK ADD FOREIGN KEY([UprawnienieID])
REFERENCES [dbo].[Uprawnienia] ([UprawnienieID])
GO
ALTER TABLE [dbo].[Uzytkownicy_Uprawnienia]  WITH CHECK ADD FOREIGN KEY([UzytkownikID])
REFERENCES [dbo].[Uzytkownicy] ([UzytkownikID])
GO
USE [master]
GO
